streamlit==1.33.0
streamlit-chat
langchain==0.1.15
langchain-google-genai
python-dotenv~=1.0.1
chromadb
pymupdf>=1.24.0
keybert~=0.8.4
transformers~=4.39.3
google-generativeai~=0.5.0
unstructured[md]
ollama